* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    color: #6ed309c6;
    margin-left: 5%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.instagram{
    display: flex;
    margin: 10px ;
    color: white;
    margin-right: 10px;
}
.git{
    display: flex;
    margin: 10px;
    color: white;
    margin-right: 10px;
}
.linkedin{
    display: flex;
    margin: 10px;
    color: white;
    margin-right: 10px;
}
.whatsapp{
    display: flex;
    color: white;
    margin: 10px;
    margin-right: 10px;
}
.social-icons{
    display: flex;
    width: auto;
    margin: 10px;
    justify-content: space-between;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 20px;
}

.content h1 {
    font-size: 48px;
    color: #fff;
}

.content h2 {
    font-size: 32px;
    color: #fff;
}

.content .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.image img {
    width: 400px;
    border-radius: 10px;
}

.theme-switcher {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#dark-mode-toggle {
    display: none;
}

#dark-mode-toggle + label {
    width: 40px;
    height: 20px;
    background: #00ff00;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#dark-mode-toggle:checked + label {
    background: #555;
}

#dark-mode-toggle:checked + label::after {
    left: 20px;
}
